body {
  background-color: #ebebeb;
  color: black;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body #presentation {
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background: url("../../images/initial.jpeg") rgba(0, 0, 0, 0.4) no-repeat;
  background-size: cover;
}

body #presentation .view {
  height: 100vh;
}

.filter {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

body #presentation .menu {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 1200px;
  padding: 32px;
  margin: 0 auto;
}

body #presentation .menu .options {
  display: flex;
  margin: 0 auto;
}

body #presentation .menu .options a {
  text-decoration: none;
  color: #fff;
  margin: 0 24px;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

body #presentation .menu .options a:hover {
  border-bottom: 2px solid #fff;
}

body #presentation .menu .icon-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

body #presentation .menu .icon-options ion-icon {
  color: #fff;
  margin: 0 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
}

#presentation .presentation-text {
  position: relative;
  margin-top: 180px;
  color: #fff;
  text-align: center;
}

#presentation .presentation-text h1 {
  font-size: 48px;
}

#presentation .presentation-text p {
  margin-bottom: 32px;
}

#presentation .presentation-text a {
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s;
}

#presentation .presentation-text a:hover {
  background: #fff;
  color: #000;
}


/* ====== SECOND SECTION ====== */

body #second-section {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  color: black;
}

body #second-section .background {
  position: absolute;
  z-index: -5;
  border-style: solid;
  border-width: 0 0 100vh 100vw;
  border-color: transparent transparent #ad9e8734 transparent;
}

body #second-section>h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding: 5%;
}

body #second-section .cards {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto 64px auto;
}

body #second-section .cards .card {
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 15px 15px 12px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  width: 300px;
  height: 380px;
  display: grid;
  grid-template-rows: 150px 164px 80px;
  text-align: left;
}

body #second-section .cards .card div {
  display: flex;
  flex-direction: column;
}

body #second-section .cards .card img {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

body #second-section .cards .card h1 {
  padding: 16px;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

body #second-section .cards .card p {
  font-size: 16px;
  padding: 16px;
}

body #second-section .cards .card a {
  display: flex;
  align-items: center;
  color: #000;
  align-items: center;
  justify-content: center;
}

body #second-section .cards .card a:hover ion-icon {
  animation: icon 0.5s;
}

body #second-section .cards .card ion-icon {
  color: #000;
  margin-left: 8px;
}

body #second-section .cards-link {
  display: flex;
  justify-content: center;
}

body #second-section .cards-link a {
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.2), 15px 15px 12px rgba(0, 0, 0, 0.02);
}

body #second-section .cards-link a:hover {
  background: #000;
  color: #fff;
}


/* ====== THIRD SECTION ======= */

body #third-section {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  color: black;
  background: #ad9e8734;
}

body #third-section .third-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
}

body #third-section .third-section-content h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}

body #third-section .third-section-content iframe {
  width: 940px;
  height: 660px;
}


/* ======= Client Depositions ====== */

body #client-depositions {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
  color: #000;
  position: relative;
  display: flex;
}

body #client-depositions .background {
  position: absolute;
  z-index: -5;
  top: 0;
}

body #client-depositions .depositions {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body #client-depositions .depositions .first-column {
  display: flex;
  flex-direction: column;
}

body #client-depositions .depositions .second-column {
  display: flex;
  flex-direction: column;
}

body #client-depositions .depositions .deposition {
  background: #fff;
  max-height: 180px;
  min-height: 180px;
  height: 100%;
  max-width: 460px;
  min-width: 460px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 16px;
  margin: 16px;
  display: flex;
  flex-direction: row;
}

body #client-depositions .depositions .deposition img {
  width: 80px;
  border-radius: 8px;
  margin-right: 24px;
}

body #client-depositions .depositions .deposition h1 {
  font-weight: 500;
  font-size: 20px;
}

body #client-depositions .depositions .deposition p {
  font-size: 16px;
}


/* ====== Contact Infos ====== */

#contact-infos {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 90vh;
  min-height: 90vh;
  height: 100%;
  color: #000;
  background: linear-gradient( 0deg, #E6E5E3 0%, #F5F8FA 100%)
}

#contact-infos h1 {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 48px 0;
}

#contact-infos .contact-infos-content {
  max-width: 1000px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
}

#contact-infos #map {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 16px;
}

#contact-infos .contact-infos-content .info-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-left: 32px;
}

#contact-infos .contact-infos-content .info-cards .info-card {
  width: 450px;
  height: 120px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

#contact-infos .contact-infos-content .info-cards a:hover .infos.routes #arrow {
  animation: icon 0.5s;
}

#contact-infos .contact-infos-content .info-cards .info-card img {
  margin: 0 48px;
  width: 32px;
}

#contact-infos .contact-infos-content .info-cards .info-card .infos.routes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#contact-infos .contact-infos-content .info-cards .info-card .infos.routes img {
  width: 22px;
  margin-left: 16px;
}

#contact-infos .contact-infos-content .info-cards .info-card span {
  font-size: 24px;
  margin-bottom: 8px;
}

@keyframes icon {
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}


/* ====== FOOTER ====== */

#footer {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  height: 100%;
  color: #000;
  background: #E6E5E3;
}

#footer .footer-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .footer-content .infos h1 {
  font-weight: 500;
}

#footer .footer-content .social-media-links {
  display: flex;
}

#footer .footer-content .social-media-links a {
  width: 22px;
  margin-left: 8px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

#footer .footer-content .social-media-links a:hover {
  border-bottom: 2px solid #000;
}


/* ====== RESPONSIVITY ====== */

@media (max-width: 1200px) {
  #presentation .menu,
  #second-section,
  #third-section,
  #client-depositions,
  #contact-infos,
  #footer {
    max-width: 90vw;
    width: 100%;
  }
  body #second-section .cards {
    width: 950px;
  }
  body #second-section .cards .card {
    width: 280px;
  }
  #footer .footer-content {
    max-width: 90vw;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  body #second-section {
    max-height: 800px;
    min-height: 800px;
    height: 100%;
  }
  body #second-section .background {
    border-width: 0 0 800px 100vw;
  }
  body #second-section .cards {
    flex-direction: column;
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
  }
  body #second-section .cards .card {
    width: 100%;
    height: 180px;
    margin: 12px 0;
    display: flex;
    text-align: left;
  }
  body #second-section .cards .card img {
    width: 30%;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
  body #second-section .cards .card div {
    align-items: flex-start;
    width: 50%;
    margin-left: 16px;
  }
  body #second-section .cards-link {
    margin-top: 24px;
  }
  body #third-section {
    max-height: 800px;
    min-height: 800px;
    height: 100%;
  }
  body #third-section h1 {
    margin-top: 80px;
  }
  body #third-section .third-section-content iframe {
    width: 640px;
    height: 360px;
  }
  body #client-depositions {
    max-height: 800px;
    min-height: 800px;
    height: 100%;
  }
  body #client-depositions .depositions {
    max-height: 800px;
    min-height: 800px;
    height: 100%;
  }
  body #client-depositions .depositions {
    flex-direction: column;
    margin: 0 auto;
  }
  body #client-depositions .depositions .deposition {
    max-width: 60%;
    min-width: 60%;
    width: 100%;
    max-height: 140px;
    min-height: 140px;
    height: 100%;
  }
  body #client-depositions .depositions .first-column,
  body #client-depositions .depositions .second-column {
    align-items: center;
  }
  body #contact-infos h1 {
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
  }
  body #contact-infos .contact-infos-content {
    flex-direction: column;
    max-width: 90vw;
    margin: 0 auto;
  }
  #contact-infos #map {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 16px;
  }
  #contact-infos .contact-infos-content .info-cards {
    flex-direction: row;
    margin-left: 0;
    margin-top: 24px;
  }
  #contact-infos .contact-infos-content .info-cards .info-card {
    width: 32%;
    height: 120px;
    border-radius: 16px;
    display: flex;
    align-items: center;
  }
  #contact-infos .contact-infos-content .info-cards .info-card img {
    margin: 0 24px;
    width: 32px;
  }
  #contact-infos .contact-infos-content .info-cards .info-card span {
    font-size: 20px;
    margin-bottom: 8px;
  }
  #contact-infos .contact-infos-content .info-cards .info-card p {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  body #second-section .cards .card a {
    flex-direction: column;
  }
  body #contact-infos .contact-infos-content .info-cards {
    flex-direction: column;
  }
  body #contact-infos .contact-infos-content .info-cards .info-card {
    width: 100%;
    margin-top: 8px;
  }
  body #client-depositions .depositions .deposition {
    max-width: 80%;
    min-width: 80%;
  }
}

@media (max-width: 680px) {
  body #presentation .view .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
  }
  body #presentation .view .menu .options {
    flex-direction: column;
    text-align: center;
    margin: 24px;
  }
  body #second-section {
    max-height: initial;
    min-height: initial;
    height: initial;
  }
  body #second-section .background {
    border-width: 0 0 0 100vw;
  }
  body #second-section .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto 64px auto;
  }
  body #second-section .cards .card {
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 15px 15px 12px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    width: 300px;
    height: 380px;
    display: grid;
    grid-template-rows: 150px 164px 80px;
    text-align: left;
  }
  body #second-section .cards .card div {
    flex-direction: column;
    width: 100%;
  }
  body #second-section .cards .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }
  body #second-section .cards .card h1 {
    padding: 16px;
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  body #second-section .cards .card p {
    font-size: 16px;
    padding: 16px;
  }
  body #second-section .cards .card a {
    flex-direction: row;
  }
  body #third-section .third-section-content h1 {
    margin-top: 0;
  }
  body #third-section .third-section-content iframe {
    width: 480px;
    height: 200px;
  }
  body #third-section {
    background: linear-gradient( 0deg, #E6E5E3 0%, #F5F8FA 100%)
  }
}

@media (max-height: 700px) {
  body #second-section {
    max-height: 800px;
    min-height: 800px;
    height: 100%;
  }
  body #second-section .background {
    border-width: 0 0 800px 100vw;
  }
}