body {
  background-color: #ebebeb;
  color: black;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body #menu .menu {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 1200px;
  padding: 32px;
  margin: 0 auto;
  color: #000;
}

body #menu .menu .options {
  display: flex;
  margin: 0 auto;
}

body #menu .menu .options a {
  text-decoration: none;
  color: #000;
  margin: 0 24px;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

body #menu .menu .options a:hover {
  border-bottom: 2px solid #000;
}

body #menu .menu .icon-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

body #menu .menu .icon-options ion-icon {
  margin: 0 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
  color: #000;
}


/* ==== CARDS SECTION ===== */

body #cards-section {
  width: 1000px;
  margin: 64px auto;
}

body #cards-section h1 {
  margin-bottom: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

body #cards-section h1 ion-icon {
  margin-left: 8px;
}

body #cards-section .cards {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto 64px auto;
}

body #cards-section .cards .card {
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 15px 15px 12px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  width: 300px;
  height: 380px;
  display: grid;
  grid-template-rows: 250px 80px;
  text-align: left;
}

body #cards-section .cards .card div {
  display: flex;
  flex-direction: column;
}

body #cards-section .cards .card img {
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

body #cards-section .cards .card h1 {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

body #cards-section .cards .card p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
}

body #cards-section .cards .card a {
  display: flex;
  align-items: center;
  color: #000;
  align-items: center;
  justify-content: center;
}

body #cards-section .cards .card a:hover ion-icon {
  animation: icon 0.5s;
}

body #cards-section .cards .card ion-icon {
  color: #000;
  margin-left: 8px;
}

body #cards-section .cards .card a:hover ion-icon {
  animation: movePlus 0.3s;
}

@keyframes movePlus {
  100% {
    transform: rotate(90deg);
  }
}


/* ==== content ==== */

body #categories {
  width: 100%;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

body #categories h1 {
  font-weight: 400;
  text-align: center;
}


/* ==== OPTION BLOCKS ==== */

body #categories .option-blocks {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 64px auto 64px auto;
}

body #categories .option-blocks .option-block {
  background: #fff;
  border-radius: 8px;
  width: 300px;
  height: 200px;
  display: grid;
  text-align: left;
  border: 2px solid #fff;
  cursor: pointer;
}

body #categories .option-blocks .option-block.active {
  border: 2px solid #95d5b2;
  background: #d8f3dc;
}

body #categories .option-blocks .option-block div {
  display: flex;
  flex-direction: column;
}

body #categories .option-blocks .option-block img {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  margin: 16px auto 0 auto;
}

body #categories .option-blocks .option-block h1 {
  padding: 16px;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

body #smart-watches {
  width: 1000px;
  margin: 0 auto;
}

body #smart-watches .lines {
  display: flex;
  flex-direction: column;
}

body #smart-watches .lines .line {
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  display: none;
  margin-top: 8px;
}

body #smart-watches .lines .line.active {
  display: flex;
}

body #smart-watches .lines .line img {
  height: 100%;
  padding: 8px;
  margin-right: 16px;
}

body #smart-watches .lines .line div {
  flex: 1;
}

body #smart-watches .lines .line a {
  display: flex;
  align-items: center;
  margin-right: 16px;
  text-decoration: none;
  color: #000;
}

body #smart-watches .lines .line a:hover ion-icon {
  animation: movePlus 0.3s;
}

body #smart-watches .lines .line a ion-icon {
  margin-left: 8px;
}


/* ====== FOOTER ====== */

#footer {
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  height: 100%;
  color: #000;
  background: transparent;
}

#footer .footer-content {
  max-width: 1200px;
  padding: 32px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .footer-content .infos h1 {
  font-weight: 500;
}

#footer .footer-content .social-media-links {
  display: flex;
}

#footer .footer-content .social-media-links a {
  width: 22px;
  margin-left: 8px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

#footer .footer-content .social-media-links a:hover {
  border-bottom: 2px solid #000;
}


/* ==== RESPONSIVITY ==== */

@media (max-width: 1300px) {
  body #menu .menu {
    width: 1000px;
  }
  body #categories {
    max-width: 1000px;
    min-width: 1000px;
  }
  #footer .footer-content {
    max-width: 1000px;
  }
}

@media (max-width: 1050px) {
  body #menu .menu {
    width: 90%;
  }
  body #cards-section {
    width: 90%;
  }
  body #cards-section h1 {
    margin-bottom: 24px;
    font-weight: 400;
    justify-content: center;
  }
  body #cards-section .cards {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  body #cards-section .cards .card {
    margin: 16px 0;
  }
  body #categories {
    max-width: 90%;
    min-width: 90%;
  }
  body #categories .option-blocks {
    width: 90%;
  }
  body #categories {
    max-width: 90%;
    min-width: 90%;
  }
  body #categories .option-blocks {
    flex-direction: column;
    align-items: center;
  }
  body #categories .option-blocks .option-block {
    margin: 16px 0;
  }
  body #smart-watches {
    width: 90%;
  }
  #footer .footer-content {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  body #menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
  }
  body #menu .menu .options {
    flex-direction: column;
    text-align: center;
    margin: 24px;
  }
  body #smart-watches .lines .line img {
    height: 150px;
  }
  body #smart-watches .lines .line.active {
    flex-direction: column;
    height: 250px;
    text-align: center;
  }
}